.newusercon
{
    margin: 15px 10px 20px 15px;
    //display: flex;
    .statefilter
    {
        margin-top: 10px;
    }
}

.tablecon
{
    margin: 30px 10px 20px 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.rs-btn-link
{
    color: #00756e!important;
}